.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  font-family: 'VT323', monospace;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 1%;
  width: 10%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  border-style:solid;
  border-color:white;
  border-width: 10px;
  height: 15vh;
  padding-left:5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
