.App {
  height: 100%;
  width: 100%;
}

/*
Bootstrap import
*/
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

* {
  font-family: "VT323", monospace;
}

.container-fluid {

  margin: 0px !important;
  padding: 0px !important;
}

.commentButtonGroup {
  text-align: center;
  display: inline-flex;
  width: auto;
  height: auto;
}

.noComment {
  padding-top: inherit;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 10%;
  width: 10%;
  pointer-events: none;
}

.App-header {
  background-color: #1B1522;
  opacity: 1;
  text-align: center;
  padding-top: 2%;
  height: 15vh;
  font-size: calc(30px + 2vmin);
  color: white;
}

.kanban-cards-style {
  opacity: .9 !important;
  background-color:none;
  padding-top: 2%;
  padding-bottom:5%;
  color:white;

}

.scrollable {
  flex-wrap: none;
}

.kanban-border {
  opacity: 0.7;
  height: 10vh;
  background-color: #1B1522;
}

.kanban-bottom {
  opacity: .7;
  color:white;
  text-align: center;
  font-size: 30px;
  height: 10vh;
  background-color: #1B1522;
}

.kanban-card-comment-field {
  text-align: center;
  resize: none;
}

.card-title {
  text-align:center;
  font-size: 30px;
}

.card-description {
  text-align: justify;
}

textarea {
  border-radius: 3px;
  resize : none;
  outline: none;
  opacity: 1 !important;
  width: 100%;
}

.comment-submit {
  text-align:center;
  border-style: solid;
  border-radius: 3px;
  border-color: slategrey;
  border-width: 1px;
  padding-top:5px;
  width: max-content;
  margin-top:10px;
  margin-left: 5px;
}

.comments {
  border-radius: 3px;
  text-align: justify;
  padding:20px;
  margin-top:20px;
  border-style: solid;
  border-color: slategrey;
  border-width: 1px;
  opacity: 1 !important;
  background-color: #1B1522 !important;
  height: unset;
}

.comments-style {
  padding-bottom: 20px;
}

.boardText {
  color: white;
  font-size: calc(30px + 2vmin);


}

.kanban-card {
  padding:20px;
  border-style: solid;
  border-radius: 3px;
  border-color: slategrey;
  border-width: 1px;
  opacity: 1 !important;
  background-color: #1B1522 !important;
  height: auto;
  width: auto;
  margin: 10px;
}

.nav-style {
  border-radius: 0px;
}

hr {
  background-color: slategray;
  opacity: 0.3;
  width: inherit;

}

.App-link {
  color: #61dafb;
}

.card-manipulate {
  text-align: center;
  padding:20px;
}

.comment-manipulate {

  text-align: end;
  padding: 10px;
  padding-left:10px;
  padding-bottom:0px;
}

.btn {
  color: white !important;
}

@keyframes animatedBackground {
	from { background-position: 0 100% }
  to { background-position: 100% 0; }

}

.kanban {
  background-color: #1B1522;
  height: 40vmax;
  width: max-content;
}

#animate-area	{
  background-image: url("./static-content/bg.png");
	background-position: 200px, 200px;
  animation: animatedBackground 200s linear infinite;

}